:root {
    --nav-bg: #ffdb60;
    --body-bg: #fffdf0;
    --text-color: #001740;
    --btn-bg: #0f2a71;
}

* {
    /* outline: rgb(244, 29, 40) solid 1px; */

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--body-bg);
    /* font-family: sarabun; */
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    height: 11vh;
    background-color: var(--nav-bg);
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a {
    text-decoration: none;
    color: var(--text-color);

}

nav .nav-left a {
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    font-weight: 600;
    color: var(--text-color);
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-left {
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 24px;
}

.nav-right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0 50px;
    margin-top: 6px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

i {
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}

.hero {
    display: flex;
    width: 100%;
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero .hero-left p {
    margin: 10px;
    padding: 0px;
    color: var(--text-color);
}

.hero-img {
    padding-top: 70px;
    padding-left: 150px;
}

.hero-left-sub {
    /* border: 1px solid red; */
    width: 70%;
    padding-top: 290px;
    padding-left: 180px;
}

.hero-text-1 {
    font-weight: 700;
    font-size: 49px;
}

.hero-text-2 {
    font-weight: 500;
    font-size: 28px;
}

.hero-text-3 {
    font-weight: 500;
    font-size: 23px;
}

.shop-button {
    cursor: pointer;
    background-color: var(--btn-bg);
    border: none;
    width: 120px;
    height: 45px;
    color: var(--body-bg);
    font-size: 17.5px;
    font-weight: 600;
    border: 1px solid rgb(31, 30, 30);
    border-radius: 70px;
}

.parent-cate {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-category {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.category {
    border: 1px solid red;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 18px;
    width: 250px;
    height: 95px;
    display: flex;
}

.category-icons {
    border: 1px solid red;

    width: 65%;
}

.cate-left {
    border: 1px solid red;

    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cate-right {
    border: 1px solid red;

    width: 57%;
    height: 100%;
}

.cate-right-span-1 {
    border: 1px solid red;

    margin-top: 25px;
    padding-left: 10px;
}

.cate-right-span-2 {
    border: 1px solid red;

    text-decoration: underline;
    padding-left: 10px;
    font-size: 15.5px;
}

.gallery-parent {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    margin: 0 10px 0 10px;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.men-parent {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.men-div {
    width: 80%;

}

.men-top {

    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.men-bottom {
    color: var(--text-color);
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
}

.men-card {
    background: #f1f1f1;
    color: var(--text-color);
    width: 196px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    /* border: 1px solid red; */
    border-radius: 7px;
}

.men-card-top {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.men-img {
    width: 195px;
}


.men-dec {
    padding-left: 7px;
}

.men-price {
    padding-left: 14px;
    font-weight: 500;
}

.price-strike {
    color: rgb(109, 109, 109);
    font-size: 14.5px;
    text-decoration: line-through;
    padding-left: 4.3px;
}