@media screen and (max-width:767px) {

    body {
        width: 100vw;
    }

    nav {
        height: 8vh;
    }

    ul {
        display: none;
    }

    .hero {
        display: block;
    }

    .hero-left,
    .hero-right {
        width: 100%;
    }

    .hero-left {
        display: flex;
        align-items: center;
    }

    .hero-left-sub {
        width: 70%;
        padding-top: 100px;
        padding-left: 50px;
    }

    .hero-right {
        display: none;
    }

    .hero-text-1 {
        font-weight: 700;
        font-size: 33px;
    }

    .hero-text-2 {
        font-weight: 500;
        font-size: 20px;
    }

    .hero-text-3 {
        font-weight: 500;
        font-size: 18px;
    }

    .hero-img {
        width: 50%;
        padding-top: 40px;
        padding-left: 100px;
        font-weight: 500;
    }

    .shop-button {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }

    .parent-cate {
        margin-top: 60px;
    }

    .parent-category {
        width: 100%;
    }

    .category {
        width: 80%;
        height: 110px;
        margin-top: 15px;
    }

    .category-icons {
        width: 60%;
    }

    .cate-left {
        width: 35%;
    }

    .cate-right {
        width: 85%;
    }

    .cate-right-span-1 {
        margin-top: 25px;
        padding-left: 20px;
        font-size: 19px;
    }

    .cate-right-span-2 {
        text-decoration: underline;
        padding-left: 20px;
        font-size: 18px;
    }

    .gallery-parent {
        width: 100vw;
    }

    .gallery {
        /* display: block; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-1,
    .image-2 {
        width: 40%;
    }

    .men-card{
    }

    .wave{
        max-width: 100vw;
    }

    footer,.wave{
        display: none;
    }
}

