:root {
    --nav-bg: #ffdb60;
    --body-bg: #fffdf0;
    --text-color: #001740;
    --btn-bg: #0f2a71;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--body-bg);
    /* font-family: sarabun; */
    font-family: Arial, Helvetica, sans-serif;

}

/* Loading screen styles */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 11px solid #f3f3f3;
    /* Light grey */
    border-top: 11px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav {
    height: 11vh;
    background-color: var(--nav-bg);
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

a {
    text-decoration: none;
    color: var(--text-color);

}

nav .nav-left a {
    text-decoration: none;
    color: var(--text-color);
}

.logo {
    font-weight: 600;
    color: var(--text-color);
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-left {
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 24px;
}

.nav-right {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0 50px;
    margin-top: 6px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

i {
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}

.hero {
    display: flex;
    width: 100%;
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero .hero-left p {
    margin: 10px;
    padding: 0px;
    color: var(--text-color);
}

.hero-img {
    padding-top: 70px;
    padding-left: 150px;
}

.hero-left-sub {
    /* border: 1px solid red; */
    width: 70%;
    padding-top: 290px;
    padding-left: 180px;
}

.hero-text-1 {
    font-weight: 700;
    font-size: 49px;
}

.hero-text-2 {
    font-weight: 500;
    font-size: 28px;
}

.hero-text-3 {
    font-weight: 500;
    font-size: 23px;
}

.shop-button {
    cursor: pointer;
    background-color: var(--btn-bg);
    border: none;
    width: 120px;
    height: 45px;
    color: var(--body-bg);
    font-size: 17.5px;
    font-weight: 600;
    border: 1px solid rgb(31, 30, 30);
    border-radius: 70px;
}

.parent-cate {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-category {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.category {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 18px;
    width: 250px;
    height: 95px;
    display: flex;
}

.category-icons {
    width: 65%;
}

.cate-left {
    width: 43%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cate-right {
    width: 57%;
    height: 100%;
}

.cate-right-span-1 {
    margin-top: 25px;
    padding-left: 10px;
}

.cate-right-span-2 {
    text-decoration: underline;
    padding-left: 10px;
    font-size: 15.5px;
}

.gallery-parent {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery img {
    margin: 0 10px 0 10px;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.image-1,
.image-2 {
    width: 80%;
}

.men-parent,
.new-parent,
.women-parent {
    margin-top: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.men-div,
.new-div,
.women-div {
    width: 80%;

}

.men-top,
.new-top,
.women-top {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.men-bottom,
.new-bottom,
.women-bottom {
    margin-top: 20px;
    color: var(--text-color);
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
}

.men-card,
.new-card,
.women-card {
    background: #f1f1f1;
    color: var(--text-color);
    width: 196px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 7px;
    margin-bottom: 18px;
}

.men-card-top,
.new-card-top,
.women-card-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.men-img,
.new-img,
.women-img {
    width: 195px;
    border-radius: 7px;

}

.men-dec,
.new-dec,
.women-dec {
    padding-left: 7px;
}

.men-price,
.new-price,
.women-price {
    padding-left: 14px;
    font-weight: 500;
}

.price-strike {
    color: rgb(109, 109, 109);
    font-size: 14.5px;
    text-decoration: line-through;
    padding-left: 4.3px;
}

.banner-div {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.banner-1 {
    border-radius: 6px;
    width: 70%;
}

footer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: #fce59a;
    height: 490px;
    width: 100%;
}

.footer-left{
    width: 50%;
    display: flex;
}

.footer-right{
    width: 50%;
    display: flex;
  justify-content: flex-start;

}

.footer-sub{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
}

.footer-right-text{
    margin-top: 120px;
}

.footer-logo i {
    font-size: 28px;
}